//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^daisy.eu.org[nc]
RewriteRule ^(.*)$ http://www.daisy.eu.org/$1 [r=301,nc]

//Change default directory page
DirectoryIndex /index.html
